## Build and Output Folders
[Dd]ebug/
[Release]/
x64/
x86/
bin/
obj/

## Visual Studio / Rider / VS Code Metadata
.vs/
.idea/
.user/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vscode/
project.lock.json
*.layout.json

## Packages
*.nupkg
packages/
**/[Pp]ackages/
project.fragment.lock.json

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
